<!DOCTYPE html>
<html lang="en">
    <head>{% include "main/header.html" %}</head>
<body>
    {% include "navbar.html" %}

    <div class= "Josh's Hobbies">
        <H1>Josh's Hobbies</H1>
        <H2>Video Games</H2>
        <p> One of the things Josh likes to do is play video games like Lost Ark.</p>
        <img src="./static/img/Lost Ark.png" alt="">
        <H2>Sneakers</H2>
        <p>He's also into sneakers. Below is one of his favorite pairs</p>
        <img src="./static/img/Jordan3.jpg" alt="">
    </div>

</body>
</html>