<header class="nav-bar">
    <div>
        <a href="#">
            <img class="logo" src="./static/img/python-trans.png">
        </a>
    </div>
    <ul class="nav-list">
        <li class="nav-content">
            <a>Home</a>
        </li>
        <li class="nav-content">
            <a>Joshua</a>
        </li>
        <li class="nav-content">
            <a>Maansi</a>
        </li>
        <li class="nav-content">
            <a href="{{ url_for('julTravel') }}">Juliette</a>
        </li>
        <li class="nav-content">
            <a>Contact Us</a>
        </li>
    </div>
  </header>