<div class="landing">
  <a name="about"></a>
  <div class="about-container">
    <div class="about-details">
      <h1 class="full-name">Josh</h1>
      <h3 class="professional-title">Computer Science Student.  Hi, this is Joshua, but most people call me Josh. Apart from programming I'm also into video games, sneakers, and music!</h3>
    </div>
    <div class="profile-image">
      <img src="./static/img/josh.jpg" width=250 height=250>
    </div>

    <div class="about-details">
      <h1 class="full-name">Maansi</h1>
      <h3 class="professional-title">Computer Science Student. Hi! My name is Maansi Nema and I'm an incoming sophomore at the University of Michigan. I love the Weeknd, boba, and Marvel!</h3>
    </div>
    <div class="profile-image">
      <img src="./static/img/maansi.jfif" width=250 height=250>
    </div>

    <div class="about-details">
      <h1 class="full-name">Juliette</h1>
      <h3 class="professional-title">Computer Science Student. Hi! My name is Juliette, many people like to call me Juli or Jules for short. I love to do anything adrenaline filled/thrilling and enjoying the good weather for those two months a year (because Canadian weather, iykyk)</h3>
    </div>
    <div class="profile-image">
      <img src="./static/img/juli.jpg" width=250 height=250>
    </div>
</div>