<!DOCTYPE html>
<html lang="en">
<head>{% include "main/header.html" %}</head>


<body>
    {% include "navbar.html" %}
    <!-- <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>Hello</h1>
    </div> -->


</body>
</html>