<!DOCTYPE html>
<html lang="en">
    <head>{% include "main/header.html" %}</head>
<body>
    {% include "navbar.html" %}
    <div class= "Juli's Hobbies">
        <H1>Juli's Hobbies</H1>
        <H2>Skiing</H2>
        <p>Juli has a variety of different hobbies, one of them being skiing like shown below</p>
        <img src="https://cdn.discordapp.com/attachments/779215689108946948/983115258757529709/Woman_Skiing.jpg" alt=""> 
    
        <p>Juli also likes doing various other activities like hiking, snowboarding, and watching kdrama.</p>
        <H2>Hiking</H2>
            <img src="https://cdn.discordapp.com/attachments/779215689108946948/983115258468110376/Woman_Hiking.jpg" alt="">
        <H2>Snowboarding</H2>
        <img src="https://cdn.discordapp.com/attachments/779215689108946948/983122033082761256/Snowboarding.webp    " alt="">
        <H2>Kdrama</H2>
            <img src="https://cdn.discordapp.com/attachments/779215689108946948/983115257985790012/Kdrama.png" alt="">
     </div>
    
</body>
</html>


 
