<!DOCTYPE html>
<html lang="en">
    <head>{% include "main/header.html" %}</head>
<body>
    {% include "navbar.html" %}
    <div class= "Juli's Work Experience Page">
        <h1> Juli's Work Experience Page</h1>
        <h2> Full Stack Developer Volunteer at Stocate</h2>
        <p>- Frontend development based on React, code gosted on Github, web server running on Google cloud. </p>
        <p>- Took part in stocate.com project, a sustainability focused online browsing platform responsible for implementation and testing. </p>
    </div>
    
</body>
</html>
