<!DOCTYPE html>
<html>
    <head>
       {% include "main/header.html" %}
    </head>

    <body>
        {% include "navbar.html" %}

        <h2>Education</h2>
        <p>Currently I am a student at {{ uni }}</p>
        <p>Fun fact: {{ fact }}</p>

        <h3>Here are some pictures of my school</h3>

        <div class=crop>
            <img class=img1 src="{{url_for('static', filename=pic1) }}">
            <img class=img2 src="{{url_for('static', filename=pic2) }}">
        </div>

        <h3>Here is where my school is located at on the map</h3>
        <iframe style="width:100%;border:none" src="{{ map }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>
</html>