<!DOCTYPE html>
<html>
    <head>
        {% include "main/header.html" %}
     </head>
 
     <body>
         {% include "navbar.html" %}
         <H1>{{person}}</H1>
         <H2>{{hobby1}}</H2>
            <P>{{hobby1des}}</P>
            <img src="{{img1}}" alt="">    
            <H2>{{hobby2}}</H2>
            <p>{{hobby2des}}</p>
            <img src="{{img2}}" alt="">      
            <H2>{{hobby3}}</H2>
            <p>{{hobby3des}}</p>
            <img src="{{img3}}" alt="">
          
        </body>
        </html>