<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class= "Maansi's Hobbies">
        <H1>Maansi's Hobbies</H1>
        <p> Maansi likes to do things like cook, paint, and watch stranger things</p>
        <H2>Cooking</H2>
        <img src="https://cdn.discordapp.com/attachments/779215689108946948/983119207338225695/Cooking.webp" alt="">
        <H2>Painting</H2>
        <img src="https://cdn.discordapp.com/attachments/779215689108946948/983120953699610624/Painting.jpg" alt="">
        <H2>Stranger Things</H2>
        <img src="https://cdn.discordapp.com/attachments/779215689108946948/983119206562291822/Stranger_Things.webp" alt="">
    
</body>
</html>

