<header class="nav-bar">
    <div>
        <a href="{{ url_for('index') }}">
            <img class="logo" src="./static/img/python-trans.png">
        </a>
    </div>
    <ul class="nav-list">
        <li class="nav-content">
            <a href="{{ url_for('index') }}">Home.</a>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Joshua
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="{{ url_for('workJosh') }}">Work Experiences</a>
                <a href="{{ url_for('hobbiesJosh') }}">Hobbies</a>
                <a href="{{ url_for('joshEducation') }}">Education</a>
                <a href="{{ url_for('joshTravel') }}">Travels</a>
                </div>
            </div>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Maansi
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('workMaansi') }}">Work Experiences</a>
                    <a href="{{ url_for('hobbiesMaansi') }}">Hobbies</a>
                    <a href="{{ url_for('manEducation') }}">Education</a>
                    <a href="{{ url_for('manTravel') }}">Travels</a>
                </div>
            </div>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Juliette
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('workJuli') }}">Work Experiences</a>
                    <a href="{{ url_for('hobbiesJuli') }}">Hobbies</a>
                    <a href="{{ url_for('julEducation') }}">Education</a>
                    <a href="{{ url_for('julTravel') }}">Travels</a>
                </div>
            </div>
        </li>

        <li class="nav-content">
            <a>Contact</a>
        </li>
	<li class="nav-content">
	    <a href="{{ url_for('timeline') }}">Timeline</a>
	</li>
    </div>
  </header>
