<header class="nav-bar">
    <div>
        <a href="{{ url_for('index') }}">
            <img class="logo" src="./static/img/python-trans.png">
        </a>
    </div>
    <ul class="nav-list">
        <li class="nav-content">
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Joshua
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="{{ url_for('joshTravel') }}">Travels</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Maansi
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="{{ url_for('manTravel') }}">Travels</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <li class="nav-content">
            <div class="dropdown">
                <button class="dropbtn">Juliette
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="{{ url_for('julTravel') }}">Travels</a>
                <a href="{{ url_for('julEducation') }}">Education</a>
                <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <!-- <li class="nav-content">
            <a href="{{ url_for('julTravel') }}">Juliette</a>
        </li> -->
        <li class="nav-content">
            <a>Contact Us</a>
        </li>
    </div>
  </header>