<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<div class= "Juli's Work Experience Page">
    <h1> Juli's Work Experience Page</h1>
    <h2> Full Stack Developer Volunteer at Stocate</h2>
    <p>- Frontend development based on React, code gosted on Github, web server running on Google cloud. </p>
    <p>- Took part in stocate.com project, a sustainability focused online browsing platform responsible for implementation and testing. </p>
</div>
